<md-content class="md-padding">

<h1> Terms and conditions</h1>
<p>You can use this portal to make your business profile on the acceptance of all the terms and conditions shown below.</p>
<p>1.	Users are responsible for maintaining the confidentiality of his user name and password, responsible for all the activities occur under his user name and password. you are agree that if you provide any information untrue, inaccurate or incomplete, we have a right  to suspend or terminate or block access of your membership on this site.
</p>
<p>2.	You consent to receive emails and electronic messages from us.
</p>
<p>3.	 If you are a business profile owner on this website then the responsibility of content on your business profile is of yours only. We may review content whether it is illegal or violates our policy, we may remove or refuse to display content that we reasonably believe violates our policies and the law.
</p>
<p>4.	You should host or upload information which belongs to you and have copyrighted it.
</p>
<p>5.	You shall not attempt to gain unauthorized access to website, or other systems or network connected to the website.
</p>



<h1>Privacy</h1>
<p>We understands you privacy is very important and your personal information is most important assets for you. We collect such information to identify user. We do not disclose your personal information to anyone. We only discloses information to comply with our legal obligations.</p>

</md-content>
