<md-content class="md-padding" layout="column" >

  <md-card >
    <div  layout-align="center center" class=""style="width:500px; height:500px;" >
      <pic-scroller  pictures="ctrl.service.pictures"></pic-scroller>
    </div>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{ctrl.service.name}}</span>
        <h6>Price:{{ctrl.service.price}}</h6>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <h5>About</h5>
      <p>{{ctrl.service.about}}</p>
    </md-card-content>
  </md-card>

</md-content>
