<div class="profile">
  <div class="">
    <div class="">
      User Profile
    </div>
    <button ng-if="ctrl.editMode == false" type="button" name="button" ng-click="ctrl.editProfile()">Edit Profile</button>
    <button ng-if="ctrl.editMode == true" type="button" name="button" ng-click="ctrl.updateProfile()">Update Profile</button>
    <button ng-if="ctrl.editMode == true" type="button" name="button" ng-click="ctrl.cancelEditProfile()">Cancel</button>
  </div>
  <div ng-if="ctrl.editMode == false" class="view">
      <div>
        User Name: <span>{{ctrl.user.name}}</span>
      </div>
      <div>
        Email: <span>{{ctrl.user.email}}</span>
      </div>
  </div>
  <div ng-if="ctrl.editMode == true" class="view">
    <form name="userForm">
      <md-content layout="column" class="md-padding">
        <md-input-container>
          <label>Email</label>
          <input required type="text" ng-model="ctrl.editedUser.email" name="email" />
        </md-input-container>
        <md-input-container>
          <label>Username</label>
          <input required type="text" ng-model="ctrl.editedUser.name" name="name" />
        </md-input-container>
      </md-content>
    </form>
  </div>
</div>
<br>

<div class="md-padding" layout="column">
  <div flex="">
     <img Class="profile_pic" src="https://fch.lisboa.ucp.pt/sites/default/files/styles/asset_square/public/assets/images/avatar-fch_9.png?itok=3yXhnOuB"/>
     <h2>Company name</h2>
     <h3>Specility</h3>
  </div>
</div>

  <div flex="" layout="column" layout-align="start start">
    <md-button ng-href="" target="_blank">Product</md-button>
    <md-button ng-href="" target="_blank">Service</md-button>
    <md-button ng-href="" target="_blank">Setting</md-button>
    <md-button ng-href="" target="_blank">Help</md-button>
  </div>
