<!DOCTYPE html>
<html>

<head>


	
	<style>


</style>

</head>

<body>

<div id="wrapper">

    <div  class="gray-bg">
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2> Edit Profile Details</h2>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight ecommerce">

            <div class="row">
				<div class="col-lg-8">
                    <div class="tabs-container">
                           <!--  <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="ecommerce_product.html#tab-1"> Edit Profile</a></li>
                            </ul> -->
                            <div class="tab-content">
                                <div id="tab-1" class="tab-pane active">
                                    <div class="panel-body" >

                                        <fieldset class="form-horizontal"   >
                                            <div class="form-group"><label  class="col-sm-3 control-label " style="text-align:left" >First Name:</label>
                                                <div class="col-sm-9"><input type="text" class="form-control" placeholder="Product name"></div>
                                            </div>
                                            <div class="form-group"><label class="col-sm-3 control-label" style="text-align:left" >Last Name:</label>
                                                <div class="col-sm-9"><input type="text" class="form-control" placeholder="$160.00"></div>
                                            </div>
                                            <div class="form-group"><label class="col-sm-3 control-label" style="text-align:left" >DOB:</label>
                                                <div class="col-sm-9"><input type="date" class="form-control" placeholder="..."></div>
                                            </div>
											
											
											
                                            <div class="form-group"><label class="col-sm-3 control-label" style="text-align:left" >Address:</label>
                                                <div class="col-sm-9"><input type="textarea" class="form-control"  placeholder="Address..."></div>
										
                                            </div>
                                            <div class="form-group"><label class="col-sm-3 control-label" style="text-align:left" >Gander:</label>
												<div class="col-sm-9">
												<select  name="status" id="status" class="form-control">
													<option value="1" selected>Male</option>
													<option value="0">Female</option>
												</select>
												</div>
                                            </div>
                                        </fieldset>
										<button ng-click="save_details()" class="btn btn-primary block m-b pull-right" ><strong>Save Details</strong></button>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>

        </div>
		<div class="footer">
            <div class="pull-right">
                10GB of <strong>250GB</strong> Free.
            </div>
            <div>
                <strong>Copyright</strong> Example Company &copy; 2014-2017
            </div>
        </div>
    </div>
</div>



</body>

</html>
