<!DOCTYPE html>
<html>

<head>


<style> 
	
#bgimage {
	height: 700px; 
	background-image: url("img/homepage.jpg");
	background-size: 100% 100%;
	opacity: 1.0;
	
	
}

</style>
	
	
</head>

<body>
<div id="wrapper">	

<div id="bgimage">
		<div  style="color:white; padding-top: 5%" align="center">   
			<h1 >EMPOWER YOUR BUSINESS, ONLINE PROFILE</h1>
			<h5><b>This digital platform helping businesses to bring their contentonline and thrive in this compititive world</b></h5>


			<div style=" padding-top: 0%">
				<h1 style="color:#cc3300;" ><b>Get Started<b></h1>
				<button type="submit" class="btn btn-primary block  m-b"  ng-click="register()"  >Register</button>
			</div>
		</div>
			
			<div style="color:white; padding-top: 20%;">
			<div class="col-md-6"></div>
			<div class="col-md-6"><h2>Develop online business profile </br>Create a rich profile </br>Magically develop of business </br>Seamlessly Connect with your customer, gather feedback</h2></div>
			</div>

</div >

<div style="color:#9494b8;" align="center"  >
<div class="col-md-4"> <h1>One source of truth</h1><div  style="height:200px"></div> </div>
<div class="col-md-4"> <h1>Easy to maintain</h1> <div  style="height:200px"></div> </div>
<div class="col-md-4"> <h1>Itrate with confidence</h1> <div  style="height:200px"></div> </div>
</div>
<h1 align="center" ><b>Header need to write here somthing</b><h1>

<div>
</div>

	

</div>
</body>

</html>
