<!DOCTYPE html>
<html>

<head>
<style>


img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
</style>
</head>

<body>

<div id="wrapper">

   <div id="" class="gray-bg">

   
   
   <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-8 ">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h3>SDEC LLP</h3>
                        </div>
                        <div class="ibox-content" style="padding-bottom:0px;">
							<div class="row">
								<div class="col-sm-2">
									<a target="_blank" href="https://www.w3schools.com/css/paris.jpg">
									  <img src="https://www.w3schools.com/css/paris.jpg" alt="Paris" style="width:100px">
									</a>
								</div>
								<div class="col-sm-10" >
									<h4>H-33 new rajendra nagar new, Delhi, India</h4>
									<p>Ph:  +919873400232, 9353453454</p>
									<p>SP:  Medicines & doctores</p>
								</div>
							</div>
                            <div class="row" style="background-color:#e6f2ff;font-size: 25px; margin-left:-20px; margin-right:-20px;">
                                <div class=" text-right "  >
								 
								 <div style="display:inline; padding-right:20px;"><a href="https://www.facebook.com"><i class="fa fa-facebook-square"></i></a></div>
								<div style="display:inline ; padding-right:20px;" ><a href="https://twitter.com"><i class="fa fa-twitter-square"></i></a></div> 
								<div style="display:inline; padding-right:20px;"><a href="icons.html#"><i class="fa fa-globe"></i></a></div>								
								</div>
                            </div>

                        </div>
                    </div>
                </div>
				<div class="col-lg-8 ">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h3>SDEC LLP</h3>
                        </div>
                        <div class="ibox-content" style="padding-bottom:0px;">
							<div class="row">
								<div class="col-sm-2">
									<a target="_blank" href="https://www.w3schools.com/css/paris.jpg">
									  <img src="https://www.w3schools.com/css/paris.jpg" alt="Paris" style="width:100px">
									</a>
								</div>
								<div class="col-sm-10" >
									<h4>H-33 new rajendra nagar new, Delhi, India</h4>
									<p>Ph:  +919873400232, 9353453454</p>
									<p>SP:  Medicines & doctores</p>
								</div>
							</div>
                            <div class="row" style="background-color:#e6f2ff;font-size: 25px; margin-left:-20px; margin-right:-20px;">
                                <div class=" text-right "  >
								 
								 <div style="display:inline; padding-right:20px;"><a href="https://www.facebook.com"><i class="fa fa-facebook-square"></i></a></div>
								<div style="display:inline ; padding-right:20px;" ><a href="https://twitter.com"><i class="fa fa-twitter-square"></i></a></div> 
								<div style="display:inline; padding-right:20px;"><a href="icons.html#"><i class="fa fa-globe"></i></a></div>								
								</div>
                            </div>

                        </div>
                    </div>
                </div>
				<div class="col-lg-8 ">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h3>SDEC LLP</h3>
                        </div>
                        <div class="ibox-content" style="padding-bottom:0px;">
							<div class="row">
								<div class="col-sm-2">
									<a target="_blank" href="https://www.w3schools.com/css/paris.jpg">
									  <img src="https://www.w3schools.com/css/paris.jpg" alt="Paris" style="width:100px">
									</a>
								</div>
								<div class="col-sm-10" >
									<h4>H-33 new rajendra nagar new, Delhi, India</h4>
									<p>Ph:  +919873400232, 9353453454</p>
									<p>SP:  Medicines & doctores</p>
								</div>
							</div>
                            <div class="row" style="background-color:#e6f2ff;font-size: 25px; margin-left:-20px; margin-right:-20px;">
                                <div class=" text-right "  >
								 
								 <div style="display:inline; padding-right:20px;"><a href="https://www.facebook.com"><i class="fa fa-facebook-square"></i></a></div>
								<div style="display:inline ; padding-right:20px;" ><a href="https://twitter.com"><i class="fa fa-twitter-square"></i></a></div> 
								<div style="display:inline; padding-right:20px;"><a href="icons.html#"><i class="fa fa-globe"></i></a></div>								
								</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>
   
   
   

   </div>
        
</div>


</body>

</html>
