<!DOCTYPE html>
<html>

<head>


	
	<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: ;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: ;
}

tr:nth-child(odd) {
    background-color: ;
}

</style>

</head>

<body>

<div id="wrapper">


<div  class="gray-bg">
<div class="row border-bottom">
   </div>
<div>
<h1><strong>Setting</strong></h1>
</div>

<h3>Personal Setting</h3>


<div class="row">
        <div class="col-lg-10	">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">

					<table>
					  <tr>
						<td><b>Name</b></td>
						<td>Pawan Kushwaha</td>
						
						
					  </tr>
					  <tr>
						<td><b>Email</b></td>
						<td>pavan@gmail.com</td>
						
						
					  </tr>
					  <tr>
						<td><b>Phone No.</b></td>
						<td>9242343243</td>
						
						
					  </tr>
					  <tr>
						<td><b>Web page link</b></td>
						<td>https://pawanfinddy.com</td>
						
						
					  </tr>
					  <tr>
						<td><b>Address</b></td>
						<td>Ghosipura Bohdapur</td>
						
						  </tr>
					  <tr>
						<td><b>Location in map</b></td>
						<td>Ghosipura</td>
						
						
					  </tr>
					  <tr>
						<td><b>Fax No.</b></td>
						<td>34534535345353453</td>
						
						
					  </tr>
					</table>
						<div  align="right">
							<button type="submit" class="btn btn-primary   m-b"  ng-click="edit_setting()"  >Edit</button>
						</div>					
                </div>
            </div>
        </div>
    </div>



<h3>General Setting</h3>
<div class="row">
        <div class="col-lg-10">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">

<table>
  <tr>
    <td><b>Busineess Name</b></td>
    <td>Pawan Kushwaha</td>
    
    
  </tr>
  <tr>
    <td><b>Busineess Email</b></td>
    <td>pavan@gmail.com</td>
    
	
  </tr>
  <tr>
    <td><b>Busineess Phone No.</b></td>
    <td>9242343243</td>
    
	
  </tr>
  <tr>
    <td><b>Busineess Web page link</b></td>
    <td>https://pawanfinddy.com</td>
    
	
  </tr>
  <tr>
    <td><b>Busineess Address</b></td>
    <td>Ghosipura Bohdapur</td>
    
	  </tr>
  <tr>
    <td><b>Busineess Location in map</b></td>
    <td>Ghosipura</td>
    
	
  </tr>
  <tr>
    <td><b>Busineess Fax No.</b></td>
    <td>34534535345353453</td>
    
	
  </tr>
</table>
   						<div  align="right">
						
							<button type="submit" class="btn btn-primary   m-b"  ng-click="edit_setting()"  >Edit</button>
						</div>					                 


                </div>
            </div>
        </div>
    </div>


<div class="footer" >
    <div class="pull-right">
        10GB of <strong>250GB</strong> Free.
    </div>
    <div>
        <strong>Copyright</strong> Example Company &copy; 2014-2017
    </div>
</div>

</div>
</div>





</body>

</html>
