<md-content class="md-padding" layout="row" layout-xs="column" >
  <div layout="column" layout-align="center center">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">About</span>
          </md-card-title-text>
        </md-card-title>

        <md-card-content>
          <p>we need to make it a editable product to save changes</p>
        </md-card-content>
        <br>
        <md-card-actions layout="row" layout-align="start center">
          <md-button class="md-raised md-primary"> Edit </md-button>
          <md-button class="md-raised md-primary"> Save </md-button>
          <md-button class="md-raised md-primary"> Delete </md-button>
        </md-card-actions>
      </md-card>
</div>
</md-content>
