<md-content class="md-padding" layout="row" layout-xs="column" >
  <div layout="row" layout-xs="column" layout-align="center center">
      <md-card>
        <md-list-item >
            <h6>Company Name</h6><p>{{ctrl.user.businessName}}</p>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item>
            <h6>Our Email</h6><p>{{ctrl.user.businessEmail}}</p>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item>
            <h6>Phone No.</h6><p>{{ctrl.user.businessPhoneNumber}}</p>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item>
            <h6>website</h6><p>{{ctrl.user.businessWebsiteLink}}</p>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item>
            <h6>Business Address</h6><p>{{ctrl.user.businessAddress}}</p>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item>
            <h6>Business Fax</h6><p>{{ctrl.user.businessFax}}</p>
        </md-list-item>
      </md-card>

      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">About</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>we need to make it a editable product to save changes</p>
        </md-card-content>
        <br>
      </md-card>
</div>
</md-content>
