<md-content>
  <md-tabs class="" md-dynamic-height>

    <md-tab label="Profile setting">
      <md-content class="md-padding">
        <md-content>
          <md-list flex>
            <md-subheader class="md-no-sticky">you can edit your business profile details here
              <md-button class="md-secondary" ng-click="">Edit</md-button>
            </md-subheader>
            <md-list-item>
              <div class="md-padding">
                <h4>Busineess Name</h4>
              </div>
                <p>Pawan ltd</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item>
              <div class="md-padding">
                <h4>Busineess Email</h4>
              </div>
              <p>pavan@gmail.com</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item>
              <div class="md-padding">
                <h4>Busineess Phone No.</h4>
              </div>
              <p>9871876552</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item>
              <div class="md-padding">
                <h4>website link</h4>
              </div>
              <p>www.google.com</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item>
              <div class="md-padding">
                <h4>Business Address</h4>
              </div>
              <p>f25-adarsh nager gwalior</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item>
              <div class="md-padding">
                <h4>Business Fax</h4>
              </div>
              <p>578282888</p>
            </md-list-item>
      </md-content>
    </md-tab>


    <md-tab label="Personal setting">
        <md-content class="md-padding">
            <md-list flex>
              <md-subheader class="md-no-sticky">you can edit your personal details here
              <md-button class="md-secondary" ng-click="">Edit</md-button>
            </md-subheader>

              <md-list-item>
                <div class="md-padding">
                  <h4>Name</h4>
                </div>
                <div class="">
                  <p>Pawan</p>
                </div>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item>
                <div class="md-padding">
                  <h4>Email</h4>
                </div>
                <p>pavan@gmail.com</p>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item>
                <div class="md-padding">
                  <h4>Phone No.</h4>
                </div>
                <p>9871876552</p>
              </md-list-item>
              <md-list-item>
                <div class="md-padding">
                  <h4>DOB</h4>
                </div>
                <p>12/12/12</p>
              </md-list-item>
      </md-content>
    </md-tab>


    <md-tab label="Account setting">
      <md-content class="md-padding">
        <md-list flex>
          <md-subheader class="md-no-sticky">you can edit your Account details here
          <md-button class="md-secondary" ng-click="">Edit</md-button>
        </md-subheader>

          <md-list-item>
            <div class="md-padding">
              <h4>Name</h4>
            </div>
            <div class="">
              <p>Pawan</p>
            </div>
          </md-list-item>
          <md-divider></md-divider>
          <md-list-item>
            <div class="md-padding">
              <h4>Username</h4>
            </div>
            <p>pavan@gmail.com</p>
          </md-list-item>
          <md-divider></md-divider>
          <md-list-item>
            <div class="md-padding">
              <h4>Password</h4>
            </div>
            <p>98ddfd6552</p>
          </md-list-item>
          <md-list-item>
            <div class="md-padding">
              <h4>Deactivate account</h4>
            </div>
            <md-switch ng-model="data.cb1" aria-label="Switch 1">Switch 1: {{ data.cb1 }}</md-switch>
          </md-list-item>
      </md-content>
    </md-tab>

  </md-tabs>
</md-content>
