.spacer{
  flex: 1 1 auto;
}


.header {
  margin: auto;
  background-color: #3f51b5;
  padding-left: 10px;
  min-height: 70px;
  max-height: 100px;
}

.headerRight {
  margin-right: 10px;
}

.tabable:hover {
  background-color: #596bcf;
}

.color_o {
  background-color: #c13e13;
}

.profile_pic {
  height: 150px;
  width: 150px;
  background-color: powderblue;
}

.bar{
	width: 400px;
	padding: 0px;
	margin: 20px auto 0px;
	position:relative;
}


.product-card {
  
}

.productdetail_button{
  height: 40px;
  width: 100px;
  background-color: powderblue;
  text-decoration-color: #c13e13;
}
