<div class="">
   This is search Page default page of Finddy
   <md-content md-theme="docs-dark" layout="row" layout-align="center center" layout-padding="100px">
    <div layout="row" layout-padding flex>
      <md-input-container flex>
        <label>Search for any thing</label>
        <input ng-model="user.search">
      </md-input-container>

      <div>
        <md-button><i class="fas fa-search"></i>Search</md-button>
      </div>
    </div>
  </md-content>

  <div class="md-padding" layout="row">
    <md-card layout="row">
      <div >
         <img Class="profile_pic" src="https://fch.lisboa.ucp.pt/sites/default/files/styles/asset_square/public/assets/images/avatar-fch_9.png?itok=3yXhnOuB"/>
      </div>

      <div layout="column"class="md-padding">
          <h2>Company Name</h2>
          <p>Specilities</p>
          <p>Contact</p>
          <p>Web link</p>
      </div>
    </md-card>
  </div>


</div>
