<md-button class="md-raised md-primary" ng-if="!ctrl.previewMode" ui-sref="khojiApp.serviceedit({isAddService:true})" >Add Service</md-button>
<md-content class="md-padding" layout="row">
<div layout-wrap class="layout-row layout-xs-column" style="width: 100%;">
	
<div ng-repeat="serviceItem in ctrl.serviceList" class="productCard" flex="25">

		<md-card >
		  <md-card-header>
			<md-card-avatar>
			  <img class="md-user-avatar" ng-src="{{serviceItem.pictures[0].src}}">
			</md-card-avatar>
			<md-card-header-text>
			  <span ui-sref="khojiApp.servicedetail({service:serviceItem})" class="md-headline">{{serviceItem.name}}</span>
			  <span class="md-subhead">service</span>
			</md-card-header-text>
		  </md-card-header>
		  <img ng-src="{{serviceItem.pictures[0].src}}" class="md-card-image" alt="image caption">
		  <md-card-title>
			<md-card-title-text>
			  <span class="md-subhead">service Price: Rs. {{serviceItem.price}}</span>
			</md-card-title-text>
		  </md-card-title>
		  <md-card-content>
			<p>
			 {{serviceItem.about}}
			</p>
		  </md-card-content>
		</md-card>
</div>

	</div>
</md-content>
