<md-content class="md-padding" layout="row">
<div layout-wrap class="layout-row layout-xs-column" style="width: 100%;">
  <div ng-repeat="productItem in ctrl.productList" class="productCard" flex="30">
       <md-card  class="product-card">
         <div class="" style="width:200px; height:200px;" >
          <img Class="product_pic" ng-src="{{ctrl.productItem.pictures[0]}}" />
         </div>
         <md-card-title>
           <md-card-title-text>
             <span ui-sref="khojiApp.productdetail({product:productItem})" class="md-headline">{{productItem.name}}</span>
           </md-card-title-text>
         </md-card-title>
         <md-card-content>
           <p>
             {{productItem.price}}
           </p>
         </md-card-content>
         <md-button ng-if="!ctrl.previewMode" ui-sref="khojiApp.productedit({product:productItem})" class="md-raised md-primary"> Edit </md-button>
         <md-button ng-if="ctrl.previewMode" ui-srefsss="khojiApp.productdetail({product:productItem})" class="md-raised md-primary"> View </md-button>
       </md-card>
    </div>
  <md-button ng-if="!ctrl.previewMode" layout="row" layout-align="center center" ui-sref="khojiApp.productedit({isAddProduct:true})" style="display:flex;"><md-icon md-font-icon="fas fa-plus"></md-icon></md-button>
</div>
</md-content>
