<md-content class="md-padding" layout="row">
<div layout-wrap class="layout-row layout-xs-column">
   <div class="productCard" flex>
      <md-card  class="product-card">
        <img ng-src="" class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Product Name</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            Price
          </p>
        </md-card-content>
      </md-card>
    </div>
    <div class="productCard" flex>
      <md-card layout="row" class="product-card">
        <img ng-src="" class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Product Name</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            Price
          </p>
        </md-card-content>
      </md-card>
    </div>
</div>
</md-content>
