<!DOCTYPE html>
<html>

<head>


	
	<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: ;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: ;
}

tr:nth-child(odd) {
    background-color: ;
}

</style>

</head>

<body>

<div id="wrapper">


<div  class="gray-bg">
<div class="row border-bottom">
   </div>
<div>
<h1><strong>Edit Setting</strong></h1>
</div>

<h3>Personal Setting</h3>


<div class="row">
        <div class="col-lg-10	">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">
			<form role="form">
					<table>
					  <tr>
						<td><b>Name</b></td>
						<td><input type="text" value="Pawan Kushwaha" class="form-control"></td>
					  </tr>
					  <tr>
						<td><b>Email</b></td>
						<td><input type="email" value="pavan@gmail.com" class="form-control"></td>
						
					  </tr>
					  <tr>
						<td><b>Phone No.</b></td>
						<td><input type="tel" value="9242343243" class="form-control"></td>
						
					  </tr>
					  <tr>
						<td><b>Web page link</b></td>
						<td><input type="text" value="https://pawanfinddy.com" class="form-control"></td>
						
					  </tr>
					  <tr>
						<td><b>Address</b></td>
						<td><input type="text" value="Ghosipura Bohdapur" class="form-control"></td>
					 </tr>
					  <tr>
						<td><b>Location in map</b></td>
						<td><input type="text" value="Ghosipura" class="form-control"></td>
						
					  </tr>
					  <tr>
						<td><b>Fax No.</b></td>
						<td><input type="tel" value="34534535345353453" class="form-control"></td>
						
					  </tr>
					</table>
						<div  align="right">
							<button type="submit" class="btn btn-primary   m-b"  ng-click="save_details()"  >Save</button>
						</div>	
				</form>						
                </div>
            </div>
        </div>
    </div>



<h3>General Setting</h3>
<div class="row">
        <div class="col-lg-10">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">
<form role="form">
<table>
  <tr>
    <td><b>Busineess Name</b></td>
    <td><input type="text" value="Pawan Kushwaha" class="form-control"></td>
    
  </tr>
  <tr>
    <td><b>Busineess Email</b></td>
    <td><input type="email" value="pavan@gmail.com" class="form-control"></td>
	
  </tr>
  <tr>
    <td><b>Busineess Phone No.</b></td>
    <td><input type="tel" value="9242343243" class="form-control"></td>
	
  </tr>
  <tr>
    <td><b>Busineess Web page link</b></td>
    <td><input type="text" value="https://pawanfinddy.com" class="form-control"></td>
	
  </tr>
  <tr>
    <td><b>Busineess Address</b></td>
    <td><input type="text" value="Ghosipura Bohdapur" class="form-control"></td>
	  </tr>
  <tr>
    <td><b>Busineess Location in map</b></td>
    <td><input type="text" value="Ghosipura" class="form-control"></td>
	
  </tr>
  <tr>
    <td><b>Busineess Fax No.</b></td>
    <td><input type="tel" value="34534535345353453" class="form-control"></td>
	
  </tr>
</table>
</form>
<div  align="right">
	<button type="submit" class="btn btn-primary   m-b"  ng-click="save_details()"  >Save</button>	
</div>					                 


                </div>
            </div>
        </div>
    </div>


<div class="footer" >
    <div class="pull-right">
        10GB of <strong>250GB</strong> Free.
    </div>
    <div>
        <strong>Copyright</strong> Example Company &copy; 2014-2017
    </div>
</div>

</div>
</div>





</body>

</html>
