  <div>
  <md-content class="md-padding">
    <md-list flex>
      <md-button ui-sref="khojiApp.profile.product"  class="md-secondary" >GO to Product page</md-button>
      <md-subheader class="md-no-sticky">Edit Product details
	  <md-button class="md-raised md-primary" ng-disabled="!ctrl.viewMode" ng-click="ctrl.editMode()">Edit</md-button>
      <md-button class="md-raised md-primary" ng-disabled="ctrl.viewMode" ng-click="ctrl.saveProduct()">Save</md-button>
    </md-subheader>
    <md-divider></md-divider>
    </md-list>
  </md-content>
</div>


<div  layout="column"  class="layout-row layout-xs-column" style="width: 100%;" >
  <span class="md-headline"  flex="40"></span> 
  <span class="md-headline"  flex="60" >Images</span>

</div>


<div  layout="column"  class="layout-row layout-xs-column" style="width: 100%;" layout-padding ng-cloak>
  
  <md-content class="autoScroll" flex="40">
    <md-input-container class="md-icon-float md-block">
      <!-- Use floating label instead of placeholder -->
      <label>Product Name</label>
      <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
      <input required type="text" ng-model="ctrl.product.name" ng-disabled="ctrl.viewMode"/>
    </md-input-container>
    <md-input-container md-no-float class="md-block">
		<label>Product Price</label>
      <md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon>
      <input required type="text" ng-model="ctrl.product.price" ng-disabled="ctrl.viewMode"/>
    </md-input-container>
    <md-input-container class="md-icon-float md-block">
        <label>Write About your Product</label>
		<md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon>
        <textarea required type="text" md-maxlength="200" rows="5" md-select-on-focus ng-model="ctrl.product.about" ng-disabled="ctrl.viewMode"></textarea>
    </md-input-container>

  </md-content>
  
  
  <md-content  class="md-padding"   flex="60" layout="row">
		<div flex-xs flex-gt-xs="50"  ng-repeat="picture in ctrl.product.pictures">
		  <md-card  style="width:200px; height:200px;">
			<md-card-title>
			  <md-card-title-text>
				<input type="file" id="imgUpload" app-filereader ng-model="picture.src"  hidden >
				<img ng-src="{{picture.src ?   picture.src : '../img/img_upload.png'}}"   id="testimg" onclick="$(this).prev().click();"  />
			  </md-card-title-text>
			</md-card-title>
		  </md-card>
		</div>
		<img ng-src='../img/add.png' style="width:80px; height:80px;"  ng-if="ctrl.product.pictures.length < 5"   ng-click="ctrl.addMorePics()" ng-disabled="ctrl.viewMode"  />
  </md-content>
</div>

<md-divider></md-divider>
<md-divider></md-divider>
